<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OEDRA</title>
    <link rel="stylesheet" href="/view/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login">
        <h2>Login</h2>
        <form hx-post="UserControll.php" hx-target="#resultado" hx-swap="innerHTML">
            <p><h3 id="resultado"></h3></p>
            <label for="email">Email: </label>
            <input type="text"  name="email"/>
            <label for="senha">Senha</label>
            <input type="text" name="senha"/>

            <button type="submit">Login</button>
        </form>
        <button hx-trigger="click" hx-get="/view/telas/subTelas-Globais/Cadastro.html">cadastro</button>
        <button id="BtnGoogle">Google</button>
        <button id="BtnMicrosoft">Microsoft</button>
    </div>
</body>
</html>