    <footer>
        <div class="logo">
            <img src="/view/img/logo1.png" alt="" width="75">
            
            <h1>OEDRA</h1>
        </div>
        
        <h4 class="direitos">&copy; OEDRA, 2025, TODOS OS DIREITOS RESERVADOS</h4>

        <div class="menuFooter">
            <ul>
                <li>Funcionalidades</li>
                <li>Preços</li>
                <li>Suporte</li>
                <li>Sobre Nós</li>
                <li>Entrar</li>
            </ul>
        </div>
        
    </footer>