    <header>
        <div class="logo">
            <img src="/view/img/logo1.png" alt="" width="75">
            <h1>OEDRA</h1>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/view/telas/teste.html">Fazer teste</a></li>
                <li>Funcionalidades</li>
                <li>Preços</li>
                <li>Suporte</li>
                <li>Sobre Nós</li>
                <li><a href="/view/telas/Login.html">Entrar</a></li>
            </ul>
        </div>
    </header>