

<div class="areaDev">
    <h1 class="title">Inventario</h1>
    <form class="form" action="">
        <h1>Virtualize seu estoque</h1><br><br><br><br>
        <label for="">Largura</label>
        <input type="text" id="Lar">
        <label for="">Comprimento</label>
        <input type="text" id="Com">
        <button> Confirmar </button>
    </form>
    <div class="Galpao" id="Galpao" ></div>
    <div class="utilitarios">
        <h2>Utilitários</h2>
        <ul>
            <li class="Utils" id="paletes">paletes</li>
            <li class="Utils" id="Prateleiras">Prateleiras</li>
            <li class="Utils" id="Ventilação">Ventilação</li>
            <li class="Utils" id="Obstaculos">Obstaculos</li>
        </ul>
    </div>
    <script src="script.js"></script>
</div>