*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "titulos";
    src: url("assets/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: "heros";
    src: url("assets/raleway/Raleway-Medium.ttf");
}

/* base dos estilos normais */
h1, h2 {
    font-family: "titulos";
}
h3 {
    font-family: "heros";
    font-size: 5vw;
}
header{
    width: 100%;
    min-height: 10%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
hr {
    border-color: black;
}
footer {
    width: 100%;
    min-height: 18vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
button {
    color: white;
    width: 200px;
    height: 66px;
    border-radius: 15px;
    border: 0.5px solid #9808CC;
    background-color: #B825F7;
    
}

/* classes de estilos */
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1;
    margin-left: 3vw;
}
.menu{
    font-family: 'heros';
    align-self: center;
    grid-column:  3 / span 4;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li {
    min-width: 30px;
    margin-left: 2vw;
    cursor: pointer;
}
.menuFooter{
    font-family: 'heros';
    align-self: center;
    align-items: center;
    grid-column:  4 / span 5;
}
.menuFooter ul{
    display: flex;
    gap: 0.5vh;
    flex-direction: column;
    list-style: none;
}
.menuFooter li {
    min-width: 30px;
    text-decoration-line: underline;
    margin-left: 2vw;
    cursor: pointer;
}
.hero{
    width: 100%;
    min-height: 40vh;
    padding: 2rem 0 2rem 0;
}
.r{
    background-color: #770C9F;
    border: 1px solid #9808CC;
    border-radius: 100px 100px 0 0;
}
.b{
    background-color: white;
}
.ap{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1.5rem;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btns button{
    color: white;
    width: 200px;
    height: 66px;
    border-radius: 15px;
    border: 0.5px solid #9808CC;
}
.direitos {
    align-self: center;
    justify-self: center;
    grid-column: 2 / span 2;
}
.modulo .cards {
    background-color: #701198;
    min-width: 10vw;
    display: flex;
    flex-direction: column;
    gap: 30%;
    justify-self: center;
}
.areaDev {
    width: 100%;
    aspect-ratio: 1 / 0.5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* Substituído '*' por '.' para células vazias */
    grid-template-areas: 
    'title title   title   title   title   title'
    'form  Galpao  Galpao  Galpao  Galpao  utilitarios'
    'form  Galpao  Galpao  Galpao  Galpao  utilitarios'
    'form  Galpao  Galpao  Galpao  Galpao  utilitarios'
    '.     .     .     .     .     .';
    margin: 1% 0 2% 0;
}
.form { 
    grid-area: form;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #701198;
    border-radius: 50px;
}
.utilitarios { 
    grid-area: utilitarios; 
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    margin-right: 5%;
}
.Galpao { 
    position: relative;
    grid-area: Galpao;
    background-color: #e0e0e0;
    border: 2px dashed #999;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
#andar {
    width: 75%;
    height: 75%;
    background-color: #1FB0DC;
    position: absolute;
    cursor: grab; /* Muda o cursor para indicar que é arrastável */
    touch-action: none; /* Melhora performance em dispositivos touch */
}
.title { 
    grid-area: title; 
    text-align: center;
    color: #333;
    font-family: sans-serif;
    align-self: center;
}
.form { 
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #701198;
    border-radius: 30px;
    margin-left: 10%;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}
.form h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.form label {
    align-self: flex-start;
    margin-left: 15%;
    margin-top: 10px;
}
.form input {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.form button {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #00d1b2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.form button:hover {
    background-color: #00b09b;
    transform: scale(1.05);
}

/* classes e ids do Logo interativo */
.boxP{
    /* width: 15%; */
    width: clamp(250px, 15vw, 400px);
    aspect-ratio: 1/1;
    border-radius: 30px;
    border: 10px solid #701198;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2, 50%);
    padding: 0.5%;
    gap: 1%;
    overflow: visible;
    box-sizing: border-box; 
}
.boxPF{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2, 50%);
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    padding: 0.5%;
    box-sizing: border-box; 
}
.box{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: 25%;
    border-radius: 15px;

    font-family: 'titulos';
    text-align: justify;
    color: white;
    align-items: center;
    padding-top: 10%;
    font-size: small;
    box-sizing: border-box; 
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, z-index 0s;
}
.boxF1{
    width: 100%;
    aspect-ratio: 1/1;
    grid-column: 1;
    grid-row: 1;
    border-radius: 10px;
    background-color: #862AFF;
    box-sizing: border-box; 
}
.boxF2{
    width: 100%;
    aspect-ratio: 1/1;
    grid-column: 2;
    grid-row: 2;
    border-radius: 10px;
    background-color: #00FFD4;
    box-sizing: border-box; 
}
.textMsg{
    display: none;
    flex-direction: column;
    gap: 15px;
    align-self: flex-end;
    transition: opacity 0.3s ease;
    justify-self: flex-end;
}
.boxActive{
    transition: transform 0.5s ease-in-out, z-index 0s;
    width: 200%;
    padding: 15%;
    z-index: 10;
    border-radius: 7.5px;
    font-size: small;
}
.box button{
    color: white;
    width: 50%;
    aspect-ratio: 1/0.35;
    border-radius: 20px;
    background-color: #862AFF;
    border: 0.5px solid #9808CC;
}
.box1 {
    background-color: #1FB0DC;
}
.box2 {
    background-color: #701198;
}
.box3 {
    background-color: #B825F7;
}

/* login */
.login {
    background-color: #9808CC;
    width: 30%;
    height: 75vh;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2%;
    text-align: center;
}

/* cards das funcionalidades */
.cardGroup{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
}
.cards{
    width: 20%;
    min-width: 125px;
    aspect-ratio: 1/1;
    border-radius: 50px;

    background-color: white;
    margin: 2%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1100px) {
    .menu{
        display: none;
    }
}